In [1]:
import pyclimb as pc

In [11]:
weather = pc.load_data('weather')

Index(['Area Latitude', 'Area Longitude', 'OBJECTID', 'STATION_NA', 'STN_ID_',
       'SECONDARY_', 'STN_AUTHOR', 'NETWORK_', 'LOCATION_O', 'TYPE_OF_OB',
       'ACTIVE_INA', 'PERIOD_OF_', 'LATITUDE', 'LONGITUDE', 'COUNTY',
       'CLIMATE_DI', 'WATER_BASI', 'HUC', 'TEMP_', 'PRECIPITAT', 'SNOW_FALL',
       'SNW_GND_DP', 'DEW_POINT', 'REL_HUM', 'WIND_SPEED', 'WIND_GUST',
       'SOLAR_RAD', 'SOIL_MOIST', 'SOIL_TEMP', 'FUEL_TEMP', 'FUEL_MOIST',
       'PRESSURE', 'SL_PRESSUR', 'ALTIMETER', 'WEATHER_CO', 'VISIBILITY',
       'UVB', 'ELEVATION'],
      dtype='object')

In [13]:
weather.columns

Index(['Area Latitude', 'Area Longitude', 'OBJECTID', 'STATION_NA', 'STN_ID_',
       'SECONDARY_', 'STN_AUTHOR', 'NETWORK_', 'LOCATION_O', 'TYPE_OF_OB',
       'ACTIVE_INA', 'PERIOD_OF_', 'LATITUDE', 'LONGITUDE', 'COUNTY',
       'CLIMATE_DI', 'WATER_BASI', 'HUC', 'TEMP_', 'PRECIPITAT', 'SNOW_FALL',
       'SNW_GND_DP', 'DEW_POINT', 'REL_HUM', 'WIND_SPEED', 'WIND_GUST',
       'SOLAR_RAD', 'SOIL_MOIST', 'SOIL_TEMP', 'FUEL_TEMP', 'FUEL_MOIST',
       'PRESSURE', 'SL_PRESSUR', 'ALTIMETER', 'WEATHER_CO', 'VISIBILITY',
       'UVB', 'ELEVATION'],
      dtype='object')

In [20]:
weather[['LONGITUDE', 'LATITUDE','STATION_NA', 'REL_HUM', 'WIND_SPEED', 'PRECIPITAT', 'SNOW_FALL', 'ELEVATION', 'TEMP_', 'WIND_GUST']]

,LONGITUDE,LATITUDE,STATION_NA,REL_HUM,WIND_SPEED,PRECIPITAT,SNOW_FALL,ELEVATION,TEMP_,WIND_GUST
0,-113.000000,37.000000,CANNAN,,,P,SNOW FALL,5000.000000,,
1,-113.280500,37.000600,FORT PEARCE /ST GEORGE,,,P,,,,
2,-113.404700,37.005200,VIRGIN RIVER/ST GEORGE 10SW,,,P,,,,
3,-112.530000,37.010000,KANAB MUNICIPAL AIRPORT,RH,WS,,,4863.912000,T,
4,-112.965500,37.014700,CW2921 Hildale,RH,WS,,,5155.832000,T,
...,...,...,...,...,...,...,...,...,...,...
1547,-111.833333,41.966667,LEWISTON,,,P,SNOW FALL,4480.000000,T,
1548,-111.400000,41.966667,BEAR LAKE STATE PARK,,,P,SNOW FALL,6000.000000,T,
1549,-111.000000,42.000000,DMAD RESERVOIR,RH,WS,P,,4400.000000,T,
1550,-112.174700,42.074670,FLINT CREEK,RH,WS,P,,5200.000000,T,
1551,-111.368700,42.093170,LIFTON,RH,WS,P,,5930.000000,T,

In [18]:
weather.TEMP_.unique()

array([' ', 'T'], dtype=object)

In [3]:
import requests
import pandas as pd

In [4]:
r = requests.get("https://www.mapsofworld.com/usa/states/utah/lat-long.html")

In [5]:
cities = pd.read_html(r.text)[1]

C:\Users\rileyw\AppData\Local\Temp\ipykernel_13512\3387007372.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  cities = pd.read_html(r.text)[1]

In [6]:
cities

                Location  Latitude  Longitude
0            Alpine city     40.46    -111.77
1              Alta town     40.58    -111.62
2          Altamont town     40.36    -110.29
3             Alton town     37.43    -112.51
4            Amalga town     41.86    -111.90
..                   ...       ...        ...
321           Wolf Creek     41.33    -111.83
322             Woodland     40.58    -111.24
323  Woodland Hills city     40.01    -111.65
324        Woodruff town     41.52    -111.16
325     Woods Cross city     40.87    -111.92

[326 rows x 3 columns]

In [7]:
cities.to_csv("utah_cities.csv")